# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bak
espurino/landscape_bad.js
espurino/landscape.html
espurino/wifimanager.c
espurino/debugit.js
espurino/sonoffcode.js
espurino/mstickc/ESP32_66tolls_work.js
espurino/mstickc/msticktest2.js
espurino/mstickc/msticktests.js
espurino/temperatureLogger.js
espurino/tolls_notes.txt

arduino/mp3Streamer/mp3streamer notes.txt
arduino/junk/junk.ino
*.ods
